<div class="container">
  <div class="col-md-12">

    <form [formGroup]="loginForm" (submit)="gotoLandingPage(loginForm.value, loginForm)" class="form-signin">
      <h2>Please sign in</h2>
      <div class="row">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input formControlName="user.email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
      </div>

      <div class="divider-10"></div>

      <div class="row">
        <label for="inputPassword" class="sr-only">Password</label>
        <input formControlName="user.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <p>
          <span class="text-danger" *ngIf="loginFail"><b>Login Failed</b> Invalid username or password</span>
        </p>
      </div>
      <div class="row">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
      </div>
      <div class="row">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </div>
    </form>
  </div>
</div>
