<div class="container">
  <div class="col-md-12">
    <form class="form-signin" (ngSubmit)="gotoLandingPage()">
      <h2 class="form-signin-heading">Please sign in</h2>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input [(ngModel)]="user.email" name="user.email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">

      <label for="inputPassword" class="sr-only">Password</label>
      <input [(ngModel)]="password" name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">

      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>
</div>
