  <div class="row">
    <div class="col-md-12">
      <h4>CLIENT // {{client.firstName}} {{client.middleName}} {{client.lastName}}</h4>
      <div class="divider-10"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 ammount-box tax-header-row">
      <span class="big-value">${{taxReturn.estimate}}</span><br>
      FEDERAL<div class="divider-5"></div>
      Current AGI: {{taxReturn.currentAGI}}
    </div>
    <div class="col-md-4 tax-header-border-right">
      <div class="tax-header-row">
        <button type="button" id="attachButton" class="btn large-button large-button-blue tax-header-button" autocomplete="off">
          <span class="glyphicon glyphicon-paperclip large-button-icon"></span>
          <div class="divider-5"></div>
          Attachments
        </button>

        <button type="button" id="summaryButton" class="btn large-button large-button-blue align-bottom tax-header-button" autocomplete="off">
          <span class="glyphicon glyphicon-list-alt large-button-icon"></span>
          <br>
          Return<br>Summary
        </button>

        <button type="button" id="printButton" class="btn large-button large-button-blue align-bottom tax-header-button" autocomplete="off">
          <span class="glyphicon glyphicon-print large-button-icon"></span>
          <div class="divider-5"></div>
          Print
        </button>
      </div>
    </div>

    <div class="col-md-4">&nbsp;</div>

    <div class="col-md-2">
      <div class="tax-header-row pull-right">
        <button type="button" id="printButton" class="btn large-button large-button-red align-bottom tax-header-button" autocomplete="off">
          Error<br>Check
        </button>

        <button type="button" id="printButton" class="btn large-button large-button-grey align-bottom tax-header-button" autocomplete="off">
          Send
        </button>
      </div>
    </div>
  </div>
