<div class="panel-group steps-menu" id="accordion">
  <!-- Client Information -->
  <div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              <span class="glyphicon glyphicon-user">&nbsp;</span>
              Client Information
            </a>
        </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
            <table class="table">
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-ok text-success"></span>&nbsp;<a>Personal Information</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-ok text-success"></span>&nbsp;<a>Filing Information</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
  </div>

  <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#form1040">
                <span class="glyphicon glyphicon-user">&nbsp;</span>
                Form 1040
              </a>
          </h4>
      </div>
      <div id="form1040" class="panel-collapse collapse">
          <div class="panel-body">
              <table class="table">
                  <tr>
                      <td>
                          <span class="glyphicon glyphicon-ok text-success"></span>&nbsp;<a>Page 1</a>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <span class="glyphicon glyphicon-ok text-success"></span>&nbsp;<a>Page 2</a>
                      </td>
                  </tr>
              </table>
          </div>
      </div>
  </div>
  <!-- W-2 -->
  <div class="panel panel-default">
      <div class="panel-heading">
          <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#w2">
                <span class="glyphicon glyphicon-user">&nbsp;</span>
                W-2
              </a>
          </h4>
      </div>
      <div id="w2" class="panel-collapse collapse">
          <div class="panel-body">
              <table class="table">
                  <tr>
                      <td>
                          <span class="glyphicon glyphicon-plus"></span>&nbsp;<a> Add W-2</a>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <span class="glyphicon glyphicon-ok text-success"></span>&nbsp;<a>W-2 (T-AXXESS HEALTHCARE)</a>
                      </td>
                  </tr>
              </table>
          </div>
      </div>
  </div>


</div>
