    <table *ngIf="clientList" class="table table-hover">
      <tr>
        <th class="active"><input type="checkbox" class="checkbox"></th>
        <th class="active">Client Name</th>
        <th class="active">Status</th>
        <th class="active">Preparer</th>
        <th class="active">Last Updated</th>
      </tr>
      <tr *ngFor="let client of clientList.clients" (click)="taxReturn(client._id)">
        <td class="info"><input type="checkbox" class="checkbox"></td>
        <td>{{client.firstName}} {{client.middleName}}{{(client.middleName)?'.':''}} {{client.lastName}}</td>
        <td>In Progress</td>
        <td>Josue Edgardo Alberto</td>
        <td>08/05/2017 22:29</td>
      </tr>
    </table>
