<div>
  <div class="row">
    <div class="col-md-1" style="position:relative; top:20px;">
      <button type="button" id="myButton" (click)="open()" class="btn large-button large-button-blue" autocomplete="off">
        <span class="glyphicon glyphicon-plus medium-button-icon"></span>
        <span class="glyphicon glyphicon-user medium-button-icon"></span>
        <div class="divider-5"></div>
        New Client
      </button>
      <new-client-modal></new-client-modal>
    </div>
    <div class="col-md-11">
      <div class="row">
        <div class="col-md-2"><span class="year-font">2017</span></div>
        <div class="col-md-10">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="clientName">&nbsp;</label>
          <div class="input-group">
            <span class="input-group-btn" id="basic-addon1">>
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>
            <input type="text" name="clientName" class="form-control" placeholder="Client Name" aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="col-md-2">
            <label for="returnYear">Return Year</label>
            <select name="returnYear" class="form-control">
              <option value="2017">2017</option>
              <option value="2016">2016</option>
              <option value="2015">2015</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="federalStatus">Federal Status</label>
            <select name="federalStatus" class="form-control">
              <option value="In Progress">In Progress</option>
              <option value="On Hold">On Hold</option>
              <option value="E-Filed">E-Filed</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="taxPreparer">Tax Preparer</label>
            <select name="taxPreparer" class="form-control">
              <option value="Josue Edgardo Albertp">Josue Edgardo Alberto</option>
              <option value="Marcos Costa">Marcos Costa</option>
              <option value="Kristy Campbell">Kristy Campbell</option>
              <option value="Val V">Valerie Osipenko</option>
            </select>
        </div>
      </div>
    </div>
  </div>

  <div class="divider-10"></div>
  <!-- list starts here-->
  <div class="row">
    <div class="col-md-12">
      <client-list></client-list>
    </div>
  </div>
  <!-- list ends here-->
</div>
