<div class="container-fluid">
  <div class="row" style="position:relative; top:20px;">
    <div class="col-1 align-self-start">
      <div class="row">
        <button type="button" id="newClient" (click)="open()" class="btn large-button large-button-blue" autocomplete="off">
          <i class="fa fa-user-plus fa-3x" aria-hidden="true"></i>
          <p style="margin-top: 10px;">New Client</p>
        </button>
        <new-client-modal></new-client-modal>
      </div>
    </div>
    <div class="col-11 align-self-end">
      <div class="row">
        <div class="col-12" style="margin-bottom:-40px"><span class="year-font">2017</span></div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="clientName" class="col-form-label-sm">&nbsp;</label>
          <div class="input-group">
            <span class="input-group-btn" id="basic-addon1">>
                <button class="btn btn-default" type="button" (click)="findClients()" ><i class="fa fa-search" aria-hidden="true"></i></button>
            </span>
            <input type="text" [(ngModel)]="name" name="name" class="form-control" placeholder="Client Name" aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="col-2">
            <label for="year" class="col-form-label-sm">Return Year</label>
            <select [(ngModel)]="year" name="year" class="form-control">
              <option value=2017>2017</option>
              <option value=2016>2016</option>
              <option value=2015>2015</option>
            </select>
        </div>
        <div class="col-2">
            <label for="status" class="col-form-label-sm">Status</label>
            <select (ngModel)="status" name="status" class="form-control">
              <option value="In Progress">In Progress</option>
              <option value="On Hold">On Hold</option>
              <option value="E-Filed">E-Filed</option>
            </select>
        </div>
        <div class="col-4">
            <label for="preparer" class="col-form-label-sm">Tax Preparer</label>
            <select (ngModel)="preparer" name="preparer" class="form-control">
              <option *ngFor="let u of userList" [value]="u._id">{{u.name}}</option>
            </select>
        </div>
      </div>
    </div>
  </div>

  <div class="divider-30"></div>
  <!-- list starts here-->
  <div class="row">
    <div class="col-12">
      <application-list></application-list>
    </div>
  </div>
  <!-- list ends here-->
</div>
