.main-menu {
  background-color: #606060;
}

.navbar {
  color: #ffffff;
}

.navbar-toggleable-sm {
  border-bottom-color: #232323;
  border-bottom-width: thick;
  border-bottom-style: solid;
}

.navbar-brand {
  color: #ffffff;
  border-bottom-color: #606060;
  border-bottom-width: thick;
  border-bottom-style: solid;
}

.navbar-nav>li>a {
  color: #ffffff;
  border-bottom-color: #606060;
  border-bottom-width: thick;
  border-bottom-style: solid;
}

.navbar-nav>li>a:hover {
  color: #ffcc5c;
  border-bottom-color: #ffcc5c;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.loggedAgent {
  position: relative;
  top: 10px;
  color: #ffffff;
}

.navbar-nav>.active>a, .navbar-nav>.active>a:focus, .navbar-nav>.active>a:hover {
  color: #ffcc5c;
  background-color: #606060;
}

.menu-offset {
  min-height: 60px;
}

.badge {
  border-radius: 8px;
  display: inline-block;
  font: 12px Roboto,Arial,Helvetica,sans-serif;
  line-height: 12px;
  min-height: 12px;
  min-width: 12px;
  left: -8px;
  position: relative;
  text-align: center;
  top: -8px;
  background-color: #d9534f;
}

.image-button {
  margin-top: 7px!important;
  margin-bottom:;
}

.image-button-yellow {
  color: #ffffff;
  background-color: #606060;
  border-color: #606060;
}

.image-button-yellow.focus, .image-button-yellow:focus {
  color: #ffcc5c;
  background-color: #606060;
  border-color: #606060;
}

.image-button-yellow:hover {
  color: #ffcc5c;
  background-color: #606060;
  border-color: #606060;
}
