<modal #addFormModal [keyboard]="false" [backdrop]="'static'" size="lg">
  <modal-header>
      <h4 class="modal-title"><i class="fa fa-wpforms" aria-hidden="true"></i>&nbsp;&nbsp;ADD FORM</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </modal-header>
  <modal-body style="min-height:200px">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover header-fixed"  style="width:100%">
              <thead>
  		            <tr>
                    <th style="width:35%">Name</th>
                    <th style="width:65%">Description</th>
                  </tr>
  		        </thead>
  		        <tbody>
                <tr *ngFor="let form of forms" (click)="addForm(form)">
                  <td style="width:35%">{{form.name}}</td>
                  <td style="width:65%">{{form.info}}</td>
                </tr>
  		        </tbody>
            </table>
        </div>
      </div>
    </div>

  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
  </modal-footer>
</modal>
