  <ng-sidebar-container style="height: 100vh;background-color:#A9A9A9;border:1px solid #000000;" *ngIf="client">
        <ng-sidebar
          [(opened)]="_opened"
          [mode]="_MODES[_modeNum]"
          [keyClose]="_keyClose"
          [position]="_POSITIONS[_positionNum]"
          [dock]="_dock"
          [dockedSize]="'50px'"
          [autoCollapseHeight]="_autoCollapseHeight"
          [autoCollapseWidth]="_autoCollapseWidth"
          [closeOnClickOutside]="_closeOnClickOutside"
          [closeOnClickBackdrop]="_closeOnClickBackdrop"
          [showBackdrop]="_showBackdrop"
          [animate]="_animate"
          [trapFocus]="_trapFocus"
          [autoFocus]="_autoFocus"
          [sidebarClass]="'application-sidebar'"
          [ariaLabel]="'My sidebar'"
          (onOpenStart)="_onOpenStart()"
          (onOpened)="_onOpened()"
          (onCloseStart)="_onCloseStart()"
          (onClosed)="_onClosed()">
          <div class="col-12 ammount-box alert" [class.alert-success]="estimate > 0" [class.alert-grey]="estimate === 0" [class.alert-danger]="estimate < 0">
            CLIENT// {{client.firstName}} {{client.middleName}}{{(client.middleName)?'.':''}} {{client.lastName}}<BR>
            <span class="big-value">{{estimate | currency:'USD':true}}</span><br>
            FEDERAL<div class="divider-5"></div>
            Current AGI: {{currentAgi | currency:'USD':true}}
          </div>
          <!-- <button class="application-control" (click)="_toggleOpened()">Close sidebar</button> -->
          <!-- <p><a closeSidebar>This will close the sidebar too</a></p> -->
          <!-- <hr> -->
          <div class="col-12"><h4>FEDERAL FORMS</h4></div>
          <div class="col-12"><b><i class="fa fa-plus-circle fa-1x text-primary" aria-hidden="true"></i> Add Form</b></div>
          <div class="divider-5"></div>
          <div>
            <ul class="nav flex-column" style="background-color:#FFFFFF;margin-right:3px;margin-left:3px;border:1px solid #000000;">
              <li class="nav-item">
                <a uiSref="menu.application.personalInfo" uiSrefActive="active" class="dropdown-item" href="#">- Personal Information</a>
              </li>
              <li class="nav-item">
                <a uiSref="menu.application.filingInfo" uiSrefActive="active" class="dropdown-item" href="#">- Filing Information</a>
              </li>
              <li class="nav-item">
                <a uiSref="menu.application.w2Form" uiSrefActive="active" class="dropdown-item" href="#">- W2</a>
              </li>
              <li class="nav-item">
                <a uiSref="menu.application.form1040" uiSrefActive="active" class="dropdown-item" href="#">- Form 1040</a>
              </li>
            </ul>
          </div>
        </ng-sidebar>
        <div ng-sidebar-content style="border-left:1px solid #000000;">
          <header class="application-header">
            <span (click)="_toggleOpened()"><i class="fa fa-bars" aria-hidden="true"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;
            <application-header-component style="width:100%"></application-header-component>
          </header>
          <section class="application-contents">
            <ui-view></ui-view>
          </section>
        </div>
      </ng-sidebar-container>
