  <div class="row">
    <div class="col-12">
      <div class="tax-header-row">
        <button type="button" id="attachButton" class="btn large-button large-button-blue" autocomplete="off">
          <i class="fa fa-paperclip fa-2x" aria-hidden="true"></i><br>
          Attachments
        </button>

        <button type="button" id="summaryButton" class="btn large-button large-button-blue" autocomplete="off">
          <i class="fa fa-file fa-2x" aria-hidden="true"></i><br>
          Attachments
        </button>

        <button type="button" id="printButton" class="btn large-button large-button-blue" autocomplete="off">
          <i class="fa fa-print fa-2x" aria-hidden="true"></i><br>
          Return<br>Summary
        </button>

        <button type="button" id="errorButton" class="btn large-button large-button-red float-right" autocomplete="off">
          Error<br>Check
        </button>

        <button type="button" id="sendButton" class="btn large-button large-button-grey float-right" autocomplete="off">
          Send
        </button>
      </div>
    </div>
  </div>
