  <ng-sidebar-container style="height: 100vh;" *ngIf="client">
        <ng-sidebar
          [(opened)]="_opened"
          [mode]="_MODES[_modeNum]"
          [keyClose]="_keyClose"
          [position]="_POSITIONS[_positionNum]"
          [dock]="_dock"
          [dockedSize]="'50px'"
          [autoCollapseHeight]="_autoCollapseHeight"
          [autoCollapseWidth]="_autoCollapseWidth"
          [closeOnClickOutside]="_closeOnClickOutside"
          [closeOnClickBackdrop]="_closeOnClickBackdrop"
          [showBackdrop]="_showBackdrop"
          [animate]="_animate"
          [trapFocus]="_trapFocus"
          [autoFocus]="_autoFocus"
          [sidebarClass]="'application-sidebar'"
          [ariaLabel]="'My sidebar'"
          (onOpenStart)="_onOpenStart()"
          (onOpened)="_onOpened()"
          (onCloseStart)="_onCloseStart()"
          (onClosed)="_onClosed()">
          <div class="col-12 ammount-box alert" [class.alert-success]="estimate > 0" [class.alert-grey]="estimate === 0" [class.alert-danger]="estimate < 0">
            CLIENT// {{client.firstName}} {{client.middleName}}{{(client.middleName)?'.':''}} {{client.lastName}}<BR>
            <span class="big-value">{{estimate | currency:'USD':true}}</span><br>
            FEDERAL<div class="divider-5"></div>
            Current AGI: {{currentAgi | currency:'USD':true}}
          </div>
          <!-- <button class="application-control" (click)="_toggleOpened()">Close sidebar</button> -->
          <!-- <p><a closeSidebar>This will close the sidebar too</a></p> -->
          <hr>
          <div style="min-height:98%;background-color:#f0f0f0">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a uiSref="menu.application.personalInfo" uiSrefActive="active" class="dropdown-item" href="#">Personal Information</a>
              </li>
              <li class="nav-item">
                <a uiSref="menu.application.filingInfo" uiSrefActive="active" class="dropdown-item" href="#">Filing Information</a>
              </li>
              <li class="nav-item">
                <a uiSref="menu.application.w2Form" uiSrefActive="active" class="dropdown-item" href="#">W2</a>
              </li>
              <li class="nav-item">
                <a uiSref="menu.application.form1040Page1" uiSrefActive="active" class="dropdown-item" href="#">Form 1040</a>
              </li>
            </ul>
          </div>

        <!-- <div class="list-group border-0 card text-center text-md-left">
            <a href="#menu1" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
              <i class="fa fa-user-o" aria-hidden="true"></i> <span class="d-none d-md-inline">Client Information</span>
            </a>
            <div class="collapse show" id="menu1">
                <a uiSref="menu.application.personalInfo" uiSrefActive="active" class="list-group-item">&nbsp;&nbsp;Personal Information&nbsp;<i class="fa fa-check text-success" aria-hidden="true"></i></a>
                <a uiSref="menu.application.filingInfo" uiSrefActive="active" class="list-group-item">&nbsp;&nbsp;Filing Information&nbsp;<i class="fa fa-check text-success" aria-hidden="true"></i></a>
            </div>
            <a uiSref="menu.application.w2Form" uiSrefActive="active" class="list-group-item d-inline-block">&nbsp;&nbsp;W2&nbsp;</a>
            <a uiSref="menu.application.form1040Page1" uiSrefActive="active" class="list-group-item d-inline-block">&nbsp;&nbsp;Form 1040&nbsp;</a>
          </div> -->

        </ng-sidebar>
        <div ng-sidebar-content>
          <header class="application-header">
            <span (click)="_toggleOpened()"><i class="fa fa-bars" aria-hidden="true"></i></span>
          </header>
          <section class="application-contents">
            <application-header-component></application-header-component>
            <ui-view></ui-view>
          </section>
        </div>
      </ng-sidebar-container>
