.hand {
  cursor: pointer;
}
.alert-grey {
  background-color: #E5E7E9;
}

.ammount-box {
  font-size: 15px;
  font-family: Arial!important;
  border: 1px solid #000000;
}

.big-value {
  font-size: 30px;
}

.tax-header-row {
  height: 100px;
}

.tax-header-button {
  margin-top: 5px;
}

.tax-header-border-right{
  border-left: #000000;
  border-left-style: solid;
  border-left-width: 1px;
}

.loading {
  padding: 1em;
}

application {
  height: 100%;
  width: 100%;
}

.application-header {
  align-items: center;
  background: #E8E8E8;
  box-shadow: 0 0.1em 1.5em rgba(#A9A9A9, 0.5);
  color: #000000;
  display: flex;
  padding: 1em;
}


.application-contents {
  padding: 0 2em;
  background: #E8E8E8;
}

  .application-header__toggle {
    background: transparent;
    border: 0.15rem solid #ffffff;
    border-left: 0;
    border-right: 0;
    cursor: pointer;
    font-size: 0;
    height: 1.5rem;
    margin-right: 1rem;
    position: relative;
    width: 2rem;

    &::after {
      background: #ffffff;
      content: '';
      height: 0.15rem;
      left: 0;
      margin-top: -0.075rem;
      position: absolute;
      top: 50%;
      width: 100%;
    }
  }

.application-sidebar {
  background-color: #fff;
  padding: 2em 1em;

  &.ng-sidebar--opened.ng-sidebar--over {
    box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
  }
}

.application-control {
  background-color: #f0f0f0;
  border: 1px solid #A9A9A9;
  cursor: pointer;
  margin-bottom: 0.5em;
  padding: 0.5em 2em;
  transition: background-color 0.15s;

  &:hover {
    background-color: #A9A9A9;
    color: #FFFFFF;
  }
}


.dropdown-item.active, .dropdown-item:active {
  background-color: #BEBEBE!important;
}

.dropped-form {
  color: #000000;
}
.delete-icon-right {
  position: absolute;
  right: 10px;
}

.drag-border {
    border: #ff525b dashed 2px;
}

.drag-handle {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.drag-handle:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

/* Droppable */

.drag-hint-border {
    border: #3c763d dashed 2px;
}

.drag-over-border {
    border: #fbbc05 dashed 2px;
}

.drag-transit {
    border: #3500FF dashed 2px;
}
