  <div class="row">
    <div class="col-12">
      <div class="tax-header-row">
        <button type="button" id="attachButton" class="btn large-button large-button-blue" autocomplete="off">
          <i class="fa fa-paperclip fa-3x" aria-hidden="true"></i>
          <p style="margin-top: 10px;">Attachments</p>
        </button>

        <button type="button" id="summaryButton" class="btn large-button large-button-blue" autocomplete="off">
          <i class="fa fa-file fa-3x" aria-hidden="true"></i>
          <p style="margin-top: 10px;">Return<br>Summary</p>
        </button>

        <button type="button" id="printButton" class="btn large-button large-button-blue" autocomplete="off">
          <i class="fa fa-print fa-3x" aria-hidden="true"></i>
          <p style="margin-top: 10px;">Print</p>
        </button>

        <button type="button" id="errorButton" class="btn large-button large-button-red float-right" autocomplete="off">
          <p style="margin-top: 10px;">Error<br>Check</p>
        </button>

        <button type="button" id="sendButton" class="btn large-button large-button-grey float-right" autocomplete="off">
          <p style="margin-top: 10px;">Send</p>
        </button>
      </div>
    </div>
  </div>
