/* You can add global styles to this file, and also import other style files */
@import "./assets/css/bootstrap.min.css";

.lower-border {
  background-color: #232323;
  min-height: 60px;
}

.divider-5{
  margin: 0 0 10px 0;
}

.divider-10{
  margin: 0 0 10px 0;
}

.medium-button-icon {
  font-size: 16px;
  padding-bottom: 10px
}

.large-button-icon {
  font-size: 26px;
  padding-bottom: 10px
}

.large-button-blue {
  width: 100px;
  height: 90px;
  color: #ffffff;
  background-color: #004d66;
  padding-left: 10px;
  border-width: 1px;
  border: #000000;
  border: 1px;
  border-style: solid;
}

.large-button-blue:hover {
  color: #ffcc5c!important;
}

.thin-border-black {
  border: 0.5px 0.5px 0.5px 0.5px solid #000000;
}
