
input.ng-valid[required], input.ng-valid.required  {
  border: 1px solid #42A948;
}

input.ng-invalid:not(form)  {
  border: 1px solid #a94442;
}

.lower-border {
  background-color: #232323;
  min-height: 60px;
}

.divider-5{
  margin: 0 0 10px 0;
}

.divider-10{
  margin: 0 0 10px 0;
}

.divider-20{
  margin: 0 0 20px 0;
}

.divider-30{
  margin: 0 0 30px 0;
}

.divider-40{
  margin: 0 0 40px 0;
}

.divider-50{
  margin: 0 0 50px 0;
}

.medium-button-icon {
  font-size: 26px;
}

.large-button-icon {
  font-size: 26px;
  padding-bottom: 10px
}

.large-button {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px!important;
  width: 100px;
  height: 90px;
  color: #ffffff;
  background-color: #004d66;
  padding-left: 10px;
  border-width: 1px;
  border: #000000;
  border: 1px;
  border-style: solid;
  /*line-height: 1.42857143;*/
  text-align: center;
}

.large-button-blue {
  color: #ffffff;
  background-color: #004d66;
}

.large-button-red {
  color: #ffffff;
  background-color: #b30000;
}

.large-button-grey {
  color: #ffffff;
  background-color: #cccccc;
  margin-right: 3px;
}

.large-button:hover {
  color: #ffcc5c!important;
  border-color: #000000;
}

.thin-border-black {
  border: 0.5px 0.5px 0.5px 0.5px solid #000000;
}

.sub-heading {
  color: grey;
  position: relative;
  top: -13px;
}

/*.col-sm-1 {
  padding-right: 0px!important;
}

.col-sm-3 {
  padding-right: 0px!important;
}*/
