<div style="min-height:800px;">
  <form-header nTitle="DEPENDENTS" nSubTitle="U.S. Individual Income Tax Return"></form-header>

  <ul class="nav nav-tabs">
    <li class="nav-item active" *ngFor="let dependent of dependents">
      <a uiSref="menu.application.dependentsForm.dependent" [uiParams]="{ id: dependent._id }" class="nav-link active" [ngClass]="{'active': tab === 1 }" href="#" (click)="selectTab(1)">{{dependent.firstName}} {{dependent.initial}}</a>
    </li>
    <li class="nav-item active">
      <a uiSref="menu.application.dependentsForm.dependent" [uiParams]="{ id: '' }" class="nav-link active" [ngClass]="{'active': tab === (dependents.length + 1) }" href="#" (click)="selectTab((dependents.length + 1))">Add Dependent</a>
    </li>
  </ul>
  <ui-view></ui-view>
</div>
