<div class="form-body-tabs">
  <div class="col-12">
    <form [formGroup]="taxForm" (submit)="submitForm(taxForm.value)" class="form" novalidate >

      <form-sub-header nTitle="TAXABLE INCOME AND TAX"></form-sub-header>
      <div class="row">
        <div class="col-12">
          <div class="row" style="border:1px solid #cccccc;">
            <div class="col-sm-12"><br></div>
            <div class="col-sm-6">
              <n-form-bold-box section="38" text="Amount from line 37 (adjusted gross income)"></n-form-bold-box>
            </div>
            <n-input class="offset-sm-3 col-sm-3 border-left" name="box38" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-1">
              <n-form-bold-box section="39a"></n-form-bold-box>
            </div>
            <div class="offset-sm-2 col-sm-1" style="text-align:center;">
              <span><b>Taxpayer</b></span>
            </div>
            <div class="col-sm-1" style="text-align:center;">
              <span><b>Spouse</b></span>
            </div>
            <div class="col-sm-4"><br></div>
            <div class="col-sm-3 border-left"><br></div>


            <div class="offset-sm-1 col-sm-2">65 or older</div>
            <div class="col-sm-1" style="text-align:center;">
              <n-checkbox nName="box39a65OrOlderTaxpayer" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding" (change)="boxChecked($event);"></n-checkbox>
            </div>
            <div class="col-sm-1" style="text-align:center;">
              <n-checkbox nName="box39a65OrOlderSpouse" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding" (change)="boxChecked($event);"></n-checkbox>
            </div>
            <div class="col-sm-4"><br></div>
            <div class="col-sm-3 border-left"><br></div>

            <div class="offset-sm-1 col-sm-2">Blind</div>
            <div class="col-sm-1" style="text-align:center;">
              <n-checkbox nName="box39aBlindTaxpayer" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding" (change)="boxChecked($event);"></n-checkbox>
            </div>
            <div class="col-sm-1" style="text-align:center;">
              <n-checkbox nName="box39aBlindSpouse" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding" (change)="boxChecked($event);"></n-checkbox>
            </div>
            <div class="col-sm-3 text-right" style="margin-top:8px;">Total boxes checked</div>
            <n-input class="col-sm-1" name="box39aBoxesChecked" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-8">
              <n-form-bold-box section="39b" text="If you are married filing separately and your spouse itemizes deductions, or you are a dual status alien, check here"></n-form-bold-box>
            </div>
            <div class="col-sm-1" style="text-align:center;">
              <n-checkbox nName="box39b1" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-9"><br></div>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-8">
              If you elect to itemize deductions even though the standard deduction is larger, check here
            </div>
            <div class="col-sm-1" style="text-align:center;">
              <n-checkbox nName="box39b2" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-8">
              <n-form-bold-box section="40" boldText="Itemized deductions (from Schedule A) or standard deduction"></n-form-bold-box>
            </div>
            <n-input class="offset-sm-1 col-sm-3 border-left" name="box40" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-6">
              <n-form-bold-box section="41" text="Subtract line 40 from line 38"></n-form-bold-box>
            </div>
            <n-input class="offset-sm-3 col-sm-3 border-left" name="box41" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-8">
              <n-form-bold-box section="42" boldText="Exemptions. " text="If line 38 is $155,650 or less, multiply $4,050 by the number on line 6d. Otherwise, see instructions"></n-form-bold-box>
            </div>
            <n-input class="offset-sm-1 col-sm-3 border-left" name="box42" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-8">
              <n-form-bold-box section="43" boldText="Taxable income." text="Subtract line 42 from line 41. If line 42 is more than line 41, enter -0-"></n-form-bold-box>
            </div>
            <n-input class="offset-sm-1 col-sm-3 border-left" name="box43" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-6">
              IRS Schedule Q
            </div>
            <div class="offset-sm-2 col-sm-1" style="text-align:center;">
              <n-checkbox nName="irsScheduleQ" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-9"><br></div>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-9">
              <n-form-bold-box section="44" text="Tax Form"></n-form-bold-box>
            </div>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-8">
              <n-form-bold-box section="" text="The Tax Table or Qualified Div and Cap Gains Worksheet"></n-form-bold-box>
            </div>
            <div class="col-sm-1" style="text-align:center;">
              <n-checkbox nName="divCapGains" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <n-input class="col-sm-3 border-left" name="divCapGainsAmount" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-8">
              <n-form-bold-box section=" " text="Schedule D Tax Worksheet"></n-form-bold-box>
            </div>
            <div class="col-sm-1" style="text-align:center;">
              <n-checkbox nName="taxWorksheet" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <n-input class="col-sm-3 border-left" name="taxWorksheetAmount" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-8">
              <n-form-bold-box section="" text="Form 8814"></n-form-bold-box>
            </div>
            <div class="col-sm-1" style="text-align:center;">
              <n-checkbox nName="form8814" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <n-input class="col-sm-3 border-left" name="form8814Amount" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-8">
              <n-form-bold-box section="" text="Form 4972"></n-form-bold-box>
            </div>
            <div class="col-sm-1" style="text-align:center;">
              <n-checkbox nName="form4972" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <n-input class="col-sm-3 border-left" name="form4972Amount" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-6">
              Education credit recapture amount
            </div>
            <n-input class="col-sm-3" name="educationRecaptureAmount" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-9">
              Total Tax
            </div>
            <n-input class="col-sm-3 border-left" name="totalTax" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-9">
              <n-form-bold-box section="45" italicText="Alternative minimum tax. " text="Attach Form 6251"></n-form-bold-box>
            </div>
            <n-input class="col-sm-3 border-left" name="box45" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-9">
              <n-form-bold-box section="46" text="Excess advance premium tax credit repayment. Attach Form 8962"></n-form-bold-box>
            </div>
            <n-input class="col-sm-3 border-left" name="box46" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-9">
              <n-form-bold-box section="47" text="Add line 44, 45 and 46"></n-form-bold-box>
            </div>
            <n-input class="col-sm-3 border-left" name="box47" [mask]="numberMask" [fGroup]="taxForm"></n-input>

          </div>
        </div>
      </div>

      <form-sub-header nTitle="NONREFUNDABLE CREDITS"></form-sub-header>
      <div class="row">
        <div class="col-12">
          <div class="row" style="border:1px solid #cccccc;">
            <div class="col-sm-12"><br></div>
            <div class="col-sm-6">
              <n-form-bold-box section="48" text="Foreign tax creadit. Form 1116, if required"></n-form-bold-box>
            </div>
            <n-input class="col-sm-3" name="box48" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-6">
              <n-form-bold-box section="49" text="Credit for child and dependent care expenses. Form 2441"></n-form-bold-box>
            </div>
            <n-input class="col-sm-3" name="box49" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-6">
              <n-form-bold-box section="50" text="Education creadits. Form 8863 line 19"></n-form-bold-box>
            </div>
            <n-input class="col-sm-3" name="box50" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-6">
              <n-form-bold-box section="51" text="Retirement savings contribution credit. Form 8880"></n-form-bold-box>
            </div>
            <n-input class="col-sm-3" name="box51" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>


            <div class="col-sm-6">
              <n-form-bold-box section="52" text="Child tax credit. Attach Schedule 8812, if required"></n-form-bold-box>
            </div>
            <n-input class="col-sm-3" name="box52" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-6">
              <n-form-bold-box section="53" text="Residential energy credits. Form 5695"></n-form-bold-box>
            </div>
            <n-input class="col-sm-3" name="box53" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-6">
              <n-form-bold-box section="54" text="Other credits from Form"></n-form-bold-box>
            </div>
            <n-input class="col-sm-3" name="box54" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>

            <div class="offset-sm-1 col-sm-1" style="text-align:center;">
              <span><b>3800</b></span>
            </div>
            <div class="col-sm-2" style="text-align:center;">
              <span><b>8801</b></span>
            </div>
            <n-input class="col-sm-2" name="extraFormNumber" placeHolder="Form #" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3"><br></div>
            <div class="col-sm-3 border-left"><br></div>

            <div class="offset-sm-1 col-sm-1" style="text-align:center;">
              <n-checkbox nName="form3800" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <div class="col-sm-2" style="text-align:center;">
              <n-checkbox nName="form8801" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <div class="col-sm-2" style="text-align:center;">
              <n-checkbox nName="extraForm" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <div class="col-sm-3"><br></div>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-9"><br></div>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-9">
              <n-form-bold-box section="55" text="Total credits. Add lines 48 through 54"></n-form-bold-box>
            </div>
            <n-input class="col-sm-3 border-left" name="box55" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-9">
              <n-form-bold-box section="56" text="Subtract line 55 from line 47. If line 55 is more than line 47, enter -0-"></n-form-bold-box>
            </div>
            <n-input class="col-sm-3 border-left" name="box56" [mask]="numberMask" [fGroup]="taxForm"></n-input>
          </div>
        </div>
      </div>

      <form-sub-header nTitle="OTHER TAXES"></form-sub-header>
      <div class="row">
        <div class="col-12">
          <div class="row" style="border:1px solid #cccccc;">
            <div class="col-sm-12"><br></div>
            <div class="col-sm-3">
              <n-form-bold-box section="57" text="Self-employment tax"></n-form-bold-box>
            </div>
            <div class="col-sm-2" style="text-align:center;">
              <span><b>Form 4028</b></span>
              <n-checkbox nName="form4038" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <div class="col-sm-2" style="text-align:center;">
              <span><b>Form 4361</b></span>
              <n-checkbox nName="form4361" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <div class="col-sm-2" style="text-align:center;">
              <span><b>Exempt Notary</b></span>
              <n-checkbox nName="exemptNotary" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <n-input class="col-sm-3 border-left" name="box57" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-3">
              <n-form-bold-box section="58" text="Unreported social security / Medicare tax form"></n-form-bold-box>
            </div>
            <div class="col-sm-2" style="text-align:center;">
              <span><b>Form 4137</b></span>
              <n-checkbox nName="form4137" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <div class="col-sm-2" style="text-align:center;">
              <span><b>Form 8919</b></span>
              <n-checkbox nName="form8919" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <div class="col-sm-2" style="text-align:center;">
              <span><b>RRTA</b></span>
              <n-checkbox nName="rtta" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <n-input class="col-sm-3 border-left" name="box58" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-6">
              <n-form-bold-box section="59" text="Additional tax on IRAs, other qualified retirements plans, etc. Attach Form 5329 if required"></n-form-bold-box>
            </div>
            <n-input class="col-sm-3" name="box59" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-9">
              Additional taxes
            </div>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-9">
              <n-form-bold-box section="60a" text="Household employment taxes. Schedule H"></n-form-bold-box>
            </div>
            <n-input class="col-sm-3 border-left" name="box60a" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-9">
              <n-form-bold-box section="60b" text="First-time homebuyer credit repayment. Form 5405"></n-form-bold-box>
            </div>
            <n-input class="col-sm-3 border-left" name="box60b" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-6">
              <span style="top:-20px;position: absolute;width: 102%;left: 0px;">
                <n-form-bold-box section="" text="If you purchased the home in 2008 and owned and used it as your main home for all of 2016, enter your 2016 repayment here without adding 5405"></n-form-bold-box>
              </span>
            </div>
            <n-input class="col-sm-3" name="firstTimeBuyerRepayment" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-9">
              <n-form-bold-box section="61" text="Health care, Individual resposibility (see instructions)."></n-form-bold-box>
              <p style="margin-left:40px">
                <n-checkbox nName="fullYearCoverage" [fGroup]="taxForm" nValue="true" nLabel="Check here for Full Year Coverage" nClass="checkbox-padding"></n-checkbox>
              </p>
            </div>
            <n-input class="col-sm-3 border-left" name="box61" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-9"><br></div>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-3">
              <n-form-bold-box section="62" text="Other taxes form"></n-form-bold-box><br>
              <n-form-bold-box section="" text="Other taxes total"></n-form-bold-box><br>
            </div>
            <div class="col-sm-2" style="text-align:center;">
              <span><b>Form 8959</b></span>
              <n-checkbox nName="form8959" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <div class="col-sm-2" style="text-align:center;">
              <span><b>Form 8960</b></span>
              <n-checkbox nName="form8960" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <div class="col-sm-2" style="text-align:center;">
              <br>
              <n-checkbox nName="otherForm" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <n-input class="col-sm-3 border-left" name="box62" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-9">
              <n-form-bold-box section="63" text="Total tax. Add line 56 through 62"></n-form-bold-box><br>
            </div>
            <n-input class="col-sm-3 border-left" name="box63" [mask]="numberMask" [fGroup]="taxForm"></n-input>
          </div>
        </div>
      </div>

      <form-sub-header nTitle="PAYMENTS"></form-sub-header>
      <div class="row">
        <div class="col-12">
          <div class="row" style="border:1px solid #cccccc;">
            <div class="col-sm-12"><br></div>
            <div class="col-sm-6">
              <n-form-bold-box section="64" text="Federal income tax withheld"></n-form-bold-box>
            </div>
            <n-input class="col-sm-3" name="box64" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>

            <n-input class="col-sm-6" style="padding-left:53px;" name="withholdingFrom1099" placeHolder="Enter Federal withholding from 1099s (1099B, etc)" [fGroup]="taxForm"></n-input>
            <n-input class="col-sm-2" name="withholdingFrom1099Amount" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-1"><br></div>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-6">
              <n-form-bold-box section="65" text="2016 estimated tax payments and amounts applied from 2015 return"></n-form-bold-box>
            </div>
            <n-input class="col-sm-3" name="box65" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-9">
              If estimated tax was paid in joint names and you are now divorced.
            </div>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-2">
              enter ex-spouse's SSN
            </div>
            <n-input class="col-sm-3" name="exSpouseSSN" [mask]="ssnMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-2">
              and check here
            </div>
            <div class="col-sm-2" style="text-align:center;">
              <n-checkbox nName="spouseSSNCheck" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-6">
              <n-form-bold-box section="66a" text="Earned income credit"></n-form-bold-box>
            </div>
            <n-input class="col-sm-3" name="box66a" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-4">
              <n-form-bold-box section="66b" text="Non taxable combat pay election"></n-form-bold-box>
            </div>
            <n-input class="col-sm-2" name="box66b" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3"><br></div>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-6">
              <n-form-bold-box section="67" text="Additional child tax credit. Form 8812"></n-form-bold-box>
            </div>
            <n-input class="col-sm-3" name="box67" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-6">
              <n-form-bold-box section="68" text="American opportunity credit. Form 8863, line 8"></n-form-bold-box>
            </div>
            <n-input class="col-sm-3" name="box68" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-6">
              <n-form-bold-box section="69" text="Net premium tax credit. Attach Form 8962"></n-form-bold-box>
            </div>
            <n-input class="col-sm-3" name="box69" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-6">
              <n-form-bold-box section="70" text="Amount paid with request for extension to file"></n-form-bold-box>
            </div>
            <n-input class="col-sm-3" name="box70" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-6">
              <n-form-bold-box section="71" text="Excess social security and tier 1 RRTA tax withheld"></n-form-bold-box>
            </div>
            <n-input class="col-sm-3" name="box71" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-6">
              <n-form-bold-box section="72" text="Credit for federal tax on fuels. Form 4136"></n-form-bold-box>
            </div>
            <n-input class="col-sm-3" name="box72" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-3">
              <n-form-bold-box section="73" text="Credits from Form"></n-form-bold-box>
            </div>
            <div class="col-sm-1" style="text-align:center;">
              <span><b>2439</b></span>
            </div>
            <div class="col-sm-1" style="text-align:center;">
              <span><b>Reserved</b></span>
            </div>
            <div class="col-sm-1" style="text-align:center;">
              <span><b>8885</b></span>
            </div>
            <n-input class="col-sm-2" name="paymentsExtraFormNumber" placeHolder="Form #" [fGroup]="taxForm"></n-input>
            <div class="col-sm-1"><br></div>
            <div class="col-sm-3 border-left"><br></div>

            <div class="offset-sm-3 col-sm-1" style="text-align:center;">
              <n-checkbox nName="form2439" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <div class="col-sm-1" style="text-align:center;">
              <n-checkbox nName="reserved" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <div class="col-sm-1" style="text-align:center;">
              <n-checkbox nName="form8885" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <div class="col-sm-2" style="text-align:center;">
              <n-checkbox nName="paymentsExtraForm" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <div class="col-sm-1"><br></div>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-9"><br></div>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-6">
              I.R.C. Section 1341 credit
            </div>
            <n-input class="col-sm-3" name="irc" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-6">
              Other payments total
            </div>
            <n-input class="col-sm-3" name="otherPaymentsTotal" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-6">
              <n-form-bold-box section="" text="Total payments. Add lines 64 through 73"></n-form-bold-box>
            </div>
            <n-input class="col-sm-3" name="paymentsTotal" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-md-12"><br></div>
        <div class="col-md-12">
          <!-- <button role="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo2" aria-expanded="true"> -->
          <button role="button" class="btn btn-primary float-right" [disabled]="!taxForm.valid">save</button>
        </div>
      </div>
      <div class="divider-30"></div>
    </form>
  </div>
</div>
