<div class="form-body-tabs">
  <div class="col-12">
    <form [formGroup]="taxForm" (submit)="submitForm(taxForm.value)" class="form" novalidate >

      <form-sub-header nTitle="TAXABLE INCOME AND TAX"></form-sub-header>
      <div class="row">
        <div class="col-12">
          <div class="row" style="border:1px solid #cccccc;">
            <div class="col-sm-12"><br></div>
            <div class="col-sm-6">
              <span><b>38</b>&nbsp;&nbsp;</span>Amount from line 37 (adjusted gross income)
            </div>
            <n-input class="offset-sm-3 col-sm-3 border-left" name="box38" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-1">
              <span><b>39a</b>&nbsp;&nbsp;</span>
            </div>
            <div class="offset-sm-2 col-sm-1" style="text-align:center;">
              <span><b>Taxpayer</b></span>
            </div>
            <div class="col-sm-1" style="text-align:center;">
              <span><b>Spouse</b></span>
            </div>
            <div class="col-sm-4"><br></div>
            <div class="col-sm-3 border-left"><br></div>


            <div class="offset-sm-1 col-sm-2">65 or older</div>
            <div class="col-sm-1" style="text-align:center;">
              <n-checkbox nName="box39a65OrOlderTaxpayer" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding" (change)="boxChecked($event);"></n-checkbox>
            </div>
            <div class="col-sm-1" style="text-align:center;">
              <n-checkbox nName="box39a65OrOlderSpouse" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding" (change)="boxChecked($event);"></n-checkbox>
            </div>
            <div class="col-sm-4"><br></div>
            <div class="col-sm-3 border-left"><br></div>

            <div class="offset-sm-1 col-sm-2">Blind</div>
            <div class="col-sm-1" style="text-align:center;">
              <n-checkbox nName="box39aBlindTaxpayer" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding" (change)="boxChecked($event);"></n-checkbox>
            </div>
            <div class="col-sm-1" style="text-align:center;">
              <n-checkbox nName="box39aBlindSpouse" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding" (change)="boxChecked($event);"></n-checkbox>
            </div>
            <n-input class="offset-sm-3 col-sm-1" name="box39aBoxesChecked" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-6">
              <span><b>39b</b>&nbsp;&nbsp;</span>If you are married filing separately and your spouse itemizes deductions, or you are a dual status alien, check here
            </div>
            <div class="offset-sm-2 col-sm-1" style="text-align:center;">
              <n-checkbox nName="box39b1" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-6">
              If you elect to itemize deductions even though the standard deduction is larger, check here
            </div>
            <div class="offset-sm-2 col-sm-1" style="text-align:center;">
              <n-checkbox nName="box39b2" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-9"><br></div>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-6">
              <span><b>40</b>&nbsp;&nbsp;</span><b>Itemized deductions (from Schedule A) or standard deduction</b>
            </div>
            <n-input class="offset-sm-3 col-sm-3 border-left" name="box40" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-6">
              <span><b>41</b>&nbsp;&nbsp;</span>Subtract line 40 from line 38
            </div>
            <n-input class="offset-sm-3 col-sm-3 border-left" name="box41" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-8">
              <span><b>42</b>&nbsp;&nbsp;</span><b>Exemptions.</b> If line 38 is $155,650 or less, multiply $4,050 by the number on line 6d. Otherwise, see instructions
            </div>
            <n-input class="offset-sm-1 col-sm-3 border-left" name="box42" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-8">
              <span><b>43</b>&nbsp;&nbsp;</span><b>Taxable income.</b> Subtract line 42 from line 41. If line 42 is more than line 41, enter -0-
            </div>
            <n-input class="offset-sm-1 col-sm-3 border-left" name="box43" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-6">
              IRS Schedule Q
            </div>
            <div class="offset-sm-2 col-sm-1" style="text-align:center;">
              <n-checkbox nName="irsScheduleQ" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-9"><br></div>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-9">
              <span><b>44</b>&nbsp;&nbsp;</span>Tax Form
            </div>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-8">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Tax Table or Qualified Div and Cap Gains Worksheet
            </div>
            <div class="col-sm-1" style="text-align:center;">
              <n-checkbox nName="divCapGains" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <n-input class="col-sm-3 border-left" name="divCapGainsAmount" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-8">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Schedule D Tax Worksheet
            </div>
            <div class="col-sm-1" style="text-align:center;">
              <n-checkbox nName="taxWorksheet" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <n-input class="col-sm-3 border-left" name="taxWorksheetAmount" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-8">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Form 8814
            </div>
            <div class="col-sm-1" style="text-align:center;">
              <n-checkbox nName="form8814" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <n-input class="col-sm-3 border-left" name="form8814Amount" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-8">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Form 4972
            </div>
            <div class="col-sm-1" style="text-align:center;">
              <n-checkbox nName="form4972" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <n-input class="col-sm-3 border-left" name="form4972Amount" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-6">
              Education credit recapture amount
            </div>
            <n-input class="col-sm-3" name="educationRecaptureAmount" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-9">
              Total Tax
            </div>
            <n-input class="col-sm-3 border-left" name="totalTax" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-9">
              <span><b>45</b>&nbsp;&nbsp;</span><i>Alternative minimum tax.</i> Attach Form 6251
            </div>
            <n-input class="col-sm-3 border-left" name="box45" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-9">
              <span><b>46</b>&nbsp;&nbsp;</span>Excess advance premium tax credit repayment. Attach Form 8962
            </div>
            <n-input class="col-sm-3 border-left" name="box46" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-9">
              <span><b>47</b>&nbsp;&nbsp;</span>Add line 44, 45 and 46
            </div>
            <n-input class="col-sm-3 border-left" name="box47" [mask]="numberMask" [fGroup]="taxForm"></n-input>

          </div>
        </div>
      </div>

      <form-sub-header nTitle="NONREFUNDABLE TAX"></form-sub-header>
      <div class="row">
        <div class="col-12">
          <div class="row" style="border:1px solid #cccccc;">
            <div class="col-sm-12"><br></div>
            <div class="col-sm-6">
              <span><b>48</b>&nbsp;&nbsp;</span>Foreign tax creadit. Form 1116, if required
            </div>
            <n-input class="col-sm-3" name="box48" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-6">
              <span><b>49</b>&nbsp;&nbsp;</span>Credit for child and dependent care expenses. Form 2441
            </div>
            <n-input class="col-sm-3" name="box49" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-6">
              <span><b>50</b>&nbsp;&nbsp;</span>Education creadits. Form 8863 line 19
            </div>
            <n-input class="col-sm-3" name="box50" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-6">
              <span><b>51</b>&nbsp;&nbsp;</span>Retirement savings contribution credit. Form 8880
            </div>
            <n-input class="col-sm-3" name="box51" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>


            <div class="col-sm-6">
              <span><b>52</b>&nbsp;&nbsp;</span>Child tax credit. Attach Schedule 8812, if required
            </div>
            <n-input class="col-sm-3" name="box52" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-6">
              <span><b>53</b>&nbsp;&nbsp;</span>Residential energy credits. Form 5695
            </div>
            <n-input class="col-sm-3" name="box53" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-6">
              <span><b>54</b>&nbsp;&nbsp;</span>Other credits from Form
            </div>
            <n-input class="col-sm-3" name="box54" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>

            <div class="offset-sm-1 col-sm-1" style="text-align:center;">
              <span><b>3800</b></span>
            </div>
            <div class="col-sm-2" style="text-align:center;">
              <span><b>8801</b></span>
            </div>
            <n-input class="col-sm-2" name="extraFormNumber" placeHolder="Form #" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3"><br></div>
            <div class="col-sm-3 border-left"><br></div>

            <div class="offset-sm-1 col-sm-1" style="text-align:center;">
              <n-checkbox nName="form3800" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <div class="col-sm-2" style="text-align:center;">
              <n-checkbox nName="form8801" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <div class="col-sm-2" style="text-align:center;">
              <n-checkbox nName="extraForm" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <div class="col-sm-3"><br></div>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-9"><br></div>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-9">
              <span><b>55</b>&nbsp;&nbsp;</span>Total credits. Add lines 48 through 54
            </div>
            <n-input class="col-sm-3 border-left" name="box55" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-9">
              <span><b>56</b>&nbsp;&nbsp;</span>Subtract line 55 from line 47. If line 55 is more than line 47, enter -0-
            </div>
            <n-input class="col-sm-3 border-left" name="box56" [mask]="numberMask" [fGroup]="taxForm"></n-input>
          </div>
        </div>
      </div>

      <form-sub-header nTitle="OTHER TAXES"></form-sub-header>
      <div class="row">
        <div class="col-12">
          <div class="row" style="border:1px solid #cccccc;">
            <div class="col-sm-12"><br></div>
            <div class="col-sm-3">
              <span><b>57</b>&nbsp;&nbsp;</span>Self-employment tax
            </div>
            <div class="col-sm-2" style="text-align:center;">
              <span><b>Form 4028</b></span>
              <n-checkbox nName="form4038" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <div class="col-sm-2" style="text-align:center;">
              <span><b>Form 4361</b></span>
              <n-checkbox nName="form4361" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <div class="col-sm-2" style="text-align:center;">
              <span><b>Exempt Notary</b></span>
              <n-checkbox nName="exemptNotary" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <n-input class="col-sm-3 border-left" name="box57" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-3">
              <span><b>57</b>&nbsp;&nbsp;</span>Unreported social security / Medicare tax form
            </div>
            <div class="col-sm-2" style="text-align:center;">
              <span><b>Form 4137</b></span>
              <n-checkbox nName="form4137" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <div class="col-sm-2" style="text-align:center;">
              <span><b>Form 8919</b></span>
              <n-checkbox nName="form8919" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <div class="col-sm-2" style="text-align:center;">
              <span><b>RRTA</b></span>
              <n-checkbox nName="rtta" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <n-input class="col-sm-3 border-left" name="box58" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-9">
              <span><b>59</b>&nbsp;&nbsp;</span>Additional tax on IRAs, other qualified retirements plans, etc. Attach Form 5329 if required
            </div>
            <n-input class="col-sm-3 border-left" name="box59" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-9">
              Additional taxes
            </div>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-9">
              <span><b>60a</b>&nbsp;&nbsp;</span>Household employment taxes. Schedule H
            </div>
            <n-input class="col-sm-3 border-left" name="box60a" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-9">
              <span><b>60b</b>&nbsp;&nbsp;</span>First-time homebuyer credit repayment. Form 5405
            </div>
            <n-input class="col-sm-3 border-left" name="box60b" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-6">
              <p style="margin-left:15px">If you purchased the home in 2008 and owned and used it as your main home for all of 2016, enter your 2016 repayment here without adding 5405</p>
            </div>
            <n-input class="col-sm-3" name="firstTimeBuyerRepayment" [mask]="numberMask" [fGroup]="taxForm"></n-input>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-9">
              <span><b>61</b>&nbsp;&nbsp;</span>Health care, Individual resposibility (see instructions).
              <p style="margin-left:15px">
                <n-checkbox nName="fullYearCoverage" [fGroup]="taxForm" nValue="true" nLabel="Check here for Full Year Coverage" nClass="checkbox-padding"></n-checkbox>
              </p>
            </div>
            <n-input class="col-sm-3 border-left" name="box61" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-9"><br></div>
            <div class="col-sm-3 border-left"><br></div>

            <div class="col-sm-3">
              <span><b>62</b>&nbsp;&nbsp;</span>Other taxes form<br>
              <span><b>&nbsp;&nbsp;&nbsp;&nbsp;</b>&nbsp;&nbsp;</span>Other taxes total

            </div>
            <div class="col-sm-2" style="text-align:center;">
              <span><b>Form 8959</b></span>
              <n-checkbox nName="form8959" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <div class="col-sm-2" style="text-align:center;">
              <span><b>Form 8960</b></span>
              <n-checkbox nName="form8960" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <div class="col-sm-2" style="text-align:center;">
              <br>
              <n-checkbox nName="otherForm" [fGroup]="taxForm" nValue="true" nLabel=" " nClass="checkbox-padding"></n-checkbox>
            </div>
            <n-input class="col-sm-3 border-left" name="box62" [mask]="numberMask" [fGroup]="taxForm"></n-input>

            <div class="col-sm-9">
              <span><b>63</b>&nbsp;&nbsp;&nbsp;&nbsp;</span>Total tax. Add line 56 through 62
            </div>
            <n-input class="col-sm-3 border-left" name="box63" [mask]="numberMask" [fGroup]="taxForm"></n-input>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12">
          <!-- <button role="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo2" aria-expanded="true"> -->
          <button role="button" class="btn btn-primary float-right" [disabled]="!taxForm.valid">save</button>
        </div>
      </div>
      <div class="divider-30"></div>
    </form>
  </div>
</div>
