<div class="page-header" style="background-color:#cccccc">
    <h1>US<small><small> PERSONAL INFORMATION</small></small></h1>
</div>
<p class="lead">TAXPAYER INFORMATION</p>
<hr>
<form [formGroup]="taxForm" (submit)="submitForm(taxForm.value)" style="min-height:150px" novalidate >
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="firstName"><br>First Name</label>
            <input formControlName="firstName" type="text" id="firstName" placeholder="Client First Name" class="form-control" required>
          </div>
        </div>
        <div class="col-sm-1">
          <div class="form-group">
            <label><br>Initial</label>
            <input formControlName="middleName" type="text" class="form-control">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label><br>Last Name</label>
            <input formControlName="lastName" type="text" placeholder="Client Last Name" class="form-control">
          </div>
        </div>
        <div class="col-sm-1">
          <div class="form-group">
            <label><br>Suffix</label>
            <input formControlName="suffixName" type="text" class="form-control">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label><br>SSN</label>
            <input formControlName="ssn" type="text" class="form-control" disabled>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-sm-2">
          <div class="form-group">
            <label><br>Date of Birth</label>
            <my-date-picker name="dateOfBirth"
                    formControlName="dateOfBirth"
                    (dateChanged)="onDateChanged($event)">
            </my-date-picker>
          </div>
        </div>
        <div class="col-sm-1">
          <div class="form-group">
            <label><br>Age</label>
            <input formControlName="age" type="text" class="form-control">
          </div>
        </div>
        <div class="col-sm-9">
          <div class="form-group">
            <label><br>Occupation</label>
            <input formControlName="occuppation" type="text" placeholder="Taxpayer Occupation" class="form-control">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <!-- <button role="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo2" aria-expanded="true"> -->
      <button role="button" class="btn btn-primary float-right">next</button>
    </div>
  </div>
</form>
